:root {
  --pokeRedColor: hsl(2deg 60% 50%);
  --pokeHighRedColor: hsl(2deg 60% 60%);
}

.App {
  background-color: var(--pokeRedColor);
  color: white;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  padding: 10px 20px;
}

main>h1 {
  width: 100%;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.controls button {
  background-color: transparent;
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.controls button.active {
  background-color: var(--pokeHighRedColor);
  color: white;
}

.controls button:hover {
  background-color: var(--pokeRedColor);
  color: white;
}